/* Styles pour le conteneur principal de la page */
.accueil-page {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

/* Styles pour le conteneur de la galerie de cartes */
.gallery-container {
  background: #F6F6F6;
  max-width: 1240px; /* Utilise une largeur maximale et est centré */
  min-width: 335px; 
  margin: 24px auto; /* Centre le conteneur horizontalement */
  margin-top: 50px;
  margin-bottom: 0;
  padding: 50px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* Styles pour la grille des cartes */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 340px); /* 3 colonnes fixes */
  gap: 90px;
  justify-content: center;               
}



/* -----------------
   Responsive Design 
   ----------------- */

@media (max-width: 768px) {
.accueil-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery-container {
    background-color: transparent;
    margin: 24px 20px;
    padding: 0;
  }
  

/* 1 colonne en mobile */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;  /* prend toute la largeur dispo */
    gap: 40px;
  }
  /* si ta Card a une largeur fixe, assure-toi qu'elle puisse s'étirer : */
  .card-grid > * { width: 100%; }
 
}
}