.banner {
  position: relative;
  width: 100%; /* Utilise une largeur fluide pour la responsivité */
  max-width: 1240px; /* Limite la largeur à la valeur de la maquette */
  height: 223px;
  margin: 24px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px; /* Ajoute un padding pour aligner avec la galerie */
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.banner-overlay {
  position: absolute;
  inset: 0; /* couvre 100% proprement */
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none; /* ne bloque pas d'éventuels clics */
}

.banner-title {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;                     
  padding: 0 50px;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
  .banner {
    padding: 0; /* Ajouté pour supprimer le rembourrage sur mobile */
    max-width: 370px;
    height: 160px;
    border-radius: 10px;
  }
  

  .banner-title {
    font-size: 25px;
    padding: 0 20px;
    text-align: left;
    justify-content: flex-start;
  }
}
